body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: lightgray;
  padding: 10px;
}

.nav_icon {
  color: black;
}

h2 {
  margin: 0px;
}

.main_container {
  display: flex;
  flex-wrap: wrap;
}

.player_header {
  background-color: gray;
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
}
.album_detail {
  padding-left: 20px;
  position: relative;
}

.player_control {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  position: absolute;
  bottom: 0px;
}

.control_icon {
  color: black;
  margin-right: 15px;
}

.track_list {
  background-color: white;
  color: black;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.footer {
  background-color: #43689b;
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  bottom: 0px;
}

.footer_detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.footer_control {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
}

.footer_icon {
  color: white;
}

div > a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
