body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 5%;
  padding-top: 5px;
}

.main-detail {
  display: flex;
  background-color: #FBFBFB;
  padding: 45px 30px;
  border-radius: 5px;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .main-detail {
    display: flex;
    flex-direction: column;
  }
  .detail {
    width: 100%;
    padding: 30px 30px;
  }
}

.detail-image {
  text-align: center;
}

h1 {
  text-align: center;
}

.detail {
  width: 100%;
  padding: 30px 30px;
}

.signup-form {
  display: flex;
  background-color: #FBFBFB;
  padding: 30px 30px;
  border-radius: 5px;
}

table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

.btn {
  background-color: #add8e6;
  border-radius: 2px;
  border: 1px solid #91df91;
  
  background-color: #0b9595;
  color: #051922;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  border: none !important;
  cursor: pointer;
  padding: 15px 25px;
  border-radius: 3px;
  
  transition: 0.3s;
  border-radius: 50px !important;


}
.btn:hover{
  background-color: #90ee90;
}
