body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 5%;
  padding-top: 5px;
}

.main-detail {
  display: flex;
}

@media (max-width: 1024px) {
  .main-detail {
    display: flex;
    flex-direction: column;
  }
  .detail {
    width: 100%;
  }
}

.detail-image {
  text-align: center;
}

h1 {
  text-align: center;
}

.detail {
  margin-left: 5px;
  width: 100%;
}

.signup-form {
  display: flex;
}

table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

.btn {
  background-color: #add8e6;
  border-radius: 2px;
  border: 1px solid #91df91;
}
.btn:hover{
  background-color: #90ee90;
}
