.App {
  text-align: center;
}

header {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  color: black;
}

.body-header {
  padding-left: 5%;
  padding-right: 5%;
}
.btn-add {
  font-size: 14px;
  border-radius: 10px;
}
