

.todo-card{
    background-color: lightblue;
    padding: 1%;
    border-radius: 10px;
    margin: 5PX;
}

.card-list{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 2%;
}
