.todo-card {
  background-color: lightblue;
  padding: 1%;
  border-radius: 10px;
  margin: 5px;
}

.card-list {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 2%;
}

card-btn {
  font-size: 15px;
}

.card-edit-btn {
  color: blue;
  padding: 0px;
}

.card-approve-btn {
  color: green;
  padding: 0px;
}

.card-remove-btn {
  color: red;
  padding: 0px;
  float: right;
}
.note-status{
    float:right
}

.description-field{
  margin-bottom: 5px;
}