.todo-card {
  padding: 1%;
  border-radius: 10px;
  margin: 5px;
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}

.card-list {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 2%;
}

.card-btn {
  margin-right: 10px;
}

.card-edit-btn {
  color: blue;
  padding: 0px;
}

.card-approve-btn {
  color: green;
  padding: 0px;
}

.card-remove-btn {
  color: lightcoral;
  padding: 0px;
  float: right;
}
.note-status {
  float: right;
}

.description-field {
  margin-bottom: 5px;
}
