body {
  font-family: "Lato", sans-serif;
}

.left_nav {
  background-color: lightgray;
}
.nav_icon {
  color: black;
}

.control_icon {
  color: black;
}

.player_header {
  background-color: gray;
  color: white;
}

footer{
    background-color: lightblue;
    color: white;
}
