li {
  display: inline;
  padding: 20px;
}
.nav-header {
  background-color: rgb(62, 63, 63);
  display: flex;
  /* justify-content:flex-start; */
  padding-left: 0px;
  border-radius: 5px;
}

nav > ul > li > a {
  color: rgb(186, 61, 12);
}
nav > ul > li > a:focus,
a:hover {
  color: white;
  /* background-color: transparent;
  text-decoration: underline; */
}
